<!DOCTYPE html>
{% load static %}
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->

<html>
  <head>
    <meta charset="utf-8" />
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>

    <!-- CodeMirror and its JavaScript mode file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/addon/edit/matchbrackets.min.js"></script>
    <script src="https://firepad.io/releases/v1.5.9/firepad.min.js"></script>

    <!-- css files-->
    <link rel="stylesheet" type="text/css" href="{% static 'run_firepad.css' %}">
    <!-- <link rel="stylesheet", href="./run_firepad.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css"/>
    <link rel="stylesheet" href="https://firepad.io/releases/v1.5.9/firepad.css"/>

    <!-- import js -->
    <script src = "{% static 'run_firepad.js' %}"> </script>
  </head>

  <body onload="init()">
    <div id="firepad-container"></div>
    <div id='footer'>
      <button onclick="save_snippet()">Code snippet save </button>
    </div>
  </body>
  
</html>
